<template>
    <div>
        <div class="card">
            <div class="card-header">Buscar por codigo</div>
            <div class="card-body">
                <form @submit.prevent="findCode()">
                    <div class="form-group">
                        <input v-model="codetofind" name="code" type="text" class="form-control" placeholder="Ingrese el codigo">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                </form>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="result">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Result</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Placa</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Asientos</th>
                                <th>Conductor</th>
                                <th>Visitantes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="result != null">
                                <td>{{this.result.car.type}}</td>
                                <td>{{this.result.car.plate}}</td>
                                <td>{{this.result.car.brand}}</td>
                                <td>{{this.result.car.model}}</td>
                                <td>{{this.result.car.seat}}</td>
                                <td>{{this.result.driver.name}}</td>
                                <td>{{this.result.driver.guest_count}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
      data(){
        return {
          codetofind: null,
          result:null
        }
      },
      methods:{
        findCode(){
          axios.post('/code',{'code':this.codetofind}).then(response=>{
            this.result = response.data;
            $('#result').modal('show')
          })
        }
      }
    }
</script>