<template>
    <section>
    <form @submit.prevent="validateForm">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Datos del Vehiculo</legend>
                    <div class="form-group">
                        <select required
                                name="car_type"
                                data-vv-as="type"
                                :class="{'form-control': true, 'is-invalid':errors.has('car_type')}"
                                v-model="form.car.type"
                                v-validate="'required'">
                            <option :value="null" disabled>Tipo de Vehiculo</option>
                            <option value="Sedan">Sedan</option>
                            <option value="SUV">Suv</option>
                            <option value="Pickup">Pickup</option>
                        </select>
                        <div v-show="errors.has('car_type')" class="invalid-feedback">
                            {{errors.first('car_type')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               name="car_plate"
                               data-vv-as="plate"
                               maxlength="15"
                               v-model="form.car.plate"
                               required
                               v-validate="'required|max:15'"
                               placeholder="Numero de Placa"
                               :class="{'form-control': true, 'is-invalid':errors.has('car_plate')}">
                        <div v-show="errors.has('car_plate')" class="invalid-feedback">
                            {{errors.first('car_plate')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               maxlength="50"
                               required
                               v-validate="'required|max:50'"
                               name="car_brand"
                               data-vv-as="brand"
                               placeholder="Marca"
                               v-model="form.car.brand"
                               :class="{'form-control': true, 'is-invalid':errors.has('car_brand')}">
                        <div v-show="errors.has('car_brand')" class="invalid-feedback">
                            {{errors.first('car_brand')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               maxlength="50"
                               required
                               v-validate="'required|max:50'"
                               name="car_model"
                               data-vv-as="type"
                               placeholder="Modelo"
                               v-model="form.car.model"
                               :class="{'form-control': true, 'is-invalid':errors.has('car_model')}">
                        <div v-show="errors.has('car_model')" class="invalid-feedback">
                            {{errors.first('car_model')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number"
                               max="10"
                               min="1"
                               required
                               v-validate="'required|max_value:6|min_value:1'"
                               name="car_seat"
                               data-vv-as="seat"
                               placeholder="Numero de asientos"
                               v-model="form.car.seat"
                               :class="{'form-control': true, 'is-invalid':errors.has('car_seat')}">
                        <div v-show="errors.has('car_seat')" class="invalid-feedback">
                            {{errors.first('car_seat')}}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Datos del conductor</legend>
                    <div class="form-group">
                        <input type="text"
                               name="driver_name"
                               data-vv-as="name"
                               maxlength="50"
                               v-model="form.driver.name"
                               required
                               v-validate="'required|max:50'"
                               placeholder="Nombre"
                               :class="{'form-control': true, 'is-invalid':errors.has('driver_name')}">
                        <div v-show="errors.has('driver_name')" class="invalid-feedback">
                            {{errors.first('driver_name')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               name="driver_last_name"
                               data-vv-as="last name"
                               maxlength="50"
                               v-model="form.driver.last_name"
                               required
                               v-validate="'required|max:50'"
                               placeholder="Apellido"
                               :class="{'form-control': true, 'is-invalid':errors.has('driver_last_name')}">
                        <div v-show="errors.has('driver_last_name')" class="invalid-feedback">
                            {{errors.first('driver_last_name')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               name="driver_dni"
                               data-vv-as="dni"
                               maxlength="50"
                               v-model="form.driver.dni"
                               required
                               v-validate="'required|max:50'"
                               placeholder="Identificacion"
                               :class="{'form-control': true, 'is-invalid':errors.has('driver_dni')}">
                        <div v-show="errors.has('driver_dni')" class="invalid-feedback">
                            {{errors.first('driver_dni')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email"
                               name="driver_email"
                               data-vv-as="email"
                               maxlength="50"
                               v-model="form.driver.email"
                               required
                               v-validate="'required|max:150|email'"
                               placeholder="Correo Electronico"
                               :class="{'form-control': true, 'is-invalid':errors.has('driver_email')}">
                        <div v-show="errors.has('driver_email')" class="invalid-feedback">
                            {{errors.first('driver_email')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                        type="number"
                        max="6"
                        min="0"
                        required
                        v-validate="'max_value:6|min_value:0'"
                        name="driver_guest_count"
                        data-vv-as="guest count"
                        placeholder="Cantidad de invitados"
                        v-model="form.driver.guest_count"
                        :class="{'form-control': true, 'is-invalid':errors.has('driver_guest_count')}">
                        <div v-show="errors.has('driver_guest_count')" class="invalid-feedback">
                            {{errors.first('driver_guest_count')}}
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            </div>
        </div>
    </form>
        <div class="modal" tabindex="-1" role="dialog" id="codes">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Codes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li v-for="code in codes">
                                {{code.code}}
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
      data(){
        return{
            form:{
              car:{
                model: null,
                plate:null,
                brand:null,
                type:null,
                seat:null
              },
              driver:{
                name:null,
                last_name:null,
                dni:null,
                email:null,
                guest_count:null
              }
            },
          codes:[]
        }
      },
      methods:{
        validateForm(){
          this.$validator.validateAll().then(result=>{
            if(result){
              axios.post('/cars',this.form).then(response=>{
                this.codes = response.data;
                $('#codes').modal('show')
              }).catch(error=>{
                console.log(error);
              })
            }
          })
        }
      }
    }
</script>
